<aside class="app-sidebar">

  <div class="sidebar-brand">
    Stracon
  </div>

  <ul class="nav flex-column">

    <li class="nav-item">
      <a routerLink="/users" class="nav-link">
        <i class="fas fa-users"></i>
        <span>Usuarios</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/suppliers" class="nav-link">
        <i class="fas fa-truck"></i>
        <span>Proveedores</span>
      </a>
    </li>

    <!-- separador -->
    <li class="nav-item mt-auto pt-3 border-top">

      <a class="nav-link text-danger"
         (click)="logout()">

        <i class="fas fa-sign-out-alt"></i>
        <span>Cerrar sesión</span>

      </a>

    </li>

  </ul>

</aside>
